.section {
  padding: 6rem 1.5rem;
  border-top: 1px solid #262626;
  background-color: var(--bg-color);
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}